nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    color: var(--textDim);
    width: 100%;
    box-sizing: border-box;
    z-index: 9999;
}

.menu:hover {
    color: var(--text);
    cursor: pointer;
}

.sitename {
    font-weight: bold;
}

.grid {
    position: absolute;
    height: 100%;
    font-weight: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    z-index: -1;
}

.grid-svg {
    height: 80%;
    width: 80%;
    position: relative;
    z-index: 1;
}